*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: #e9eaea;
    font-family: 'Roboto', sans-serif;;
    user-select: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.452)),url("photos/university-pic1.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .container{
    /* width: 450px; */
    /* margin: 30px auto; */
    margin-top:30px;
    margin-bottom:30px;
    margin-right:10%;
    float:right;
  }
  .wrapper .container .signup, .wrapper .container .login{
    color:#d83135;
    font-weight:700;
    font-size:20px;
  }
  
  .signup,
  .login{
    width: 50%;
    background: #fff;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .signup-form,
  .login-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
  }
  
  .input{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
    margin-top:10px;
  }
  .input:focus{
    border: 2px solid #d83135;
  }
  
  .btn{
    width: 100%;
    background: #d83135;
    height: 60px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom:20px;
  }
  .btn:hover{
    background: #a82a2c;
  }
  
  span a{
    text-decoration: none;
    color:#00bfff;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3e3e40;
    font-family: roboto;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #3e3e40;
    font-family: roboto;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #3e3e40;
    font-family: roboto;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #3e3e40;
    font-family: roboto;
  }
  input{
      color:red;
  }
  .wrapper img{
    height:250px;
    width:auto;
    float:left;
  }
  .login-form label, .signup-form label{
    margin-bottom:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:rgba(51, 48, 48, 0.863);
  }

  /* ----------  For large devices ----------- */
@media (min-width: 992px) and (max-width: 1199px){

}

 /* --------------------Medium Devices---------------------- */
 @media (min-width: 768px) and (max-width: 991px){

}

/* -------------------Small devices--------------------- */
@media (min-width: 576px) and (max-width: 767px){
  .wrapper img{
    height:200px;
    width:auto;
    float:left;
  }
}

/* ---------------------Extra small Devices--------------------- */
@media (min-width:0px) and (max-width: 575px){
  .container{
    clear:both;
    margin-right: 2%;
  }
  .wrapper img{
    height:150px;
    width:auto;
    float:left;
  }
  .wrapper .container .signup, .wrapper .container .login{
    color:#d83135;
    font-weight:700;
    font-size:17px;
  }
  .signup, .login{
    height: 55px;
  }
  .login-form label, .signup-form label{
    font-size:17px;
    font-weight:800;
  }
  .input{
    padding:10px;
    margin-bottom: 5px;
  }
  .signup-form, .login-form{
    padding:30px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .btn{
    height: 50px;
    line-height: 40px;
    border-radius: 5px;
  }
}
